{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h2>Test Managing Page Index</h2>
    <div >
        <p> <a href="/manage/search">Search by input params</a>
        <p> <a href="/manage/rawquery">Raw SQL query</a>
        <p> <a href="/manage/updatemanage">Update Manage</a>
        <p> <a href="/facebookads/download">Download Facebook XML</a>
        <p> <a href="/auth/usermanage">User Info Management</a>
        <!-- <p> <a href="/manage/cityshortname">City Shortname Lookup</a> -->
    </div>
    
  </div>
{% endblock %}
