{% extends 'base.html' %}

{% block content %}

<h2>Property</h2>
<p>The SQL that was executed: {{res.query}}</p>
<p>If it succeeded: {{res.success}}</p>
<p>Total number of results: {{res.count}}</p>
    
{% if res.success == "True" %}
    <p>
    <table border="1">
        <!-- Header -->
        <tr>
        {% for colname in res.colnames %}
            <th>{{colname}}</th>
        {% endfor %}
        </tr>
        
        <!-- Content -->
        {% for result in res.results %}
        <tr>
            {% for elem in result %}
            <td> {{elem}} </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>    
    </p>
{% endif %}

<p>Total number of images: {{image.image_count}}</p>
    {% for img in image.image_urls %}
        <p> <img src={{img}} />  </p>
    {% endfor %}


{% endblock %}